{% load static %}
<!DOCTYPE html>
<html lang="en">

	<!-- head -->
	{% include 'shop/head.html'%}
	<!-- end head -->
	<!-- body -->

	<body class="main-layout position_head">
		<!-- loader  -->
		<div class="loader_bg">
			<div class="loader"><img src="{% static 'img/loading.gif' %}" alt="#" /></div>
		</div>
		<!-- end loader -->
		<!-- header -->
		{% include 'shop/header.html'%}
		<!-- end header inner -->
		<!-- end header -->
		<!-- about section -->
		<div class="about">
			<div class="container">
				<div class="row d_flex align-items-start">
					<div class="col-md-5">
						<div class="about_img">
							<figure><img src="{% static 'img/about.gif' %}" alt="#" /></figure>
						</div>
					</div>
					<div class="col-md-7">
						<div class="titlepage">
							<h2>About Our Site</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have
								suffered alteration in some form, by injected humour, or randomised words which don't
								look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
								need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about section -->
		<!-- footer -->
		{% include 'shop/footer.html'%}
		<!-- end footer -->
		<!-- Javascript files-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
		<!-- sidebar -->
		<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>

</html>
