{% load static %}
<!DOCTYPE html>
<html lang="en">

	<!-- head -->
	{% include 'shop/head.html'%}
	<!-- end head -->
	<!-- body -->

	<body class="main-layout position_head">
		<!-- loader  -->
		<div class="loader_bg">
			<div class="loader"><img src="{% static 'img/loading.gif' %}" alt="#" /></div>
		</div>
		<!-- end loader -->
		<!-- header -->
		{% include 'shop/header.html'%}
		<!-- end header inner -->
		<!-- end header -->
		<!-- Our  Glasses section -->
		<div class="glasses">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="titlepage">
							<h2>Design Your Own Creation</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labor
								e et dolore magna aliqua. Ut enim ad minim veniam, qui
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					{% for item in items %}
					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="glasses_box">
							{% if item.img %}
							<figure><img src="{{ item.img.url }}" alt="#" /></figure>
							{% else %}
							<figure><img src="{% static 'img/glass1.png' %}" alt="#" /></figure>
							{% endif %}
							<h3><span class="orng">{{ item.name }}</span></h3>
							<p>{{ item.desc }}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- end Our  Glasses section -->
		<!-- footer -->
		{% include 'shop/footer.html'%}
		<!-- end footer -->
		<!-- Javascript files-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
		<!-- sidebar -->
		<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>

</html>
