{% load static %}
<!DOCTYPE html>
<html lang="en">

	<!-- head -->
	{% include 'shop/head.html'%}
	<!-- end head -->
	<!-- body -->

	<body class="main-layout position_head">
		<!-- loader  -->
		<div class="loader_bg">
			<div class="loader"><img src="{% static 'img/loading.gif' %}" alt="#" /></div>
		</div>
		<!-- end loader -->
		<!-- header -->
		{% include 'shop/header.html'%}
		<!-- end header inner -->
		<!-- end header -->

		<!-- Create section -->
		<div class="itemcollections">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="titlepage">
							<h2>Design Your Own Creation</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labor
								e et dolore magna aliqua. Ut enim ad minim veniam, qui
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center align-content-around flex-wrap">
					<div class="row">
						{% for item in items %}
						<div class="col-2">
							<div class="card border-light" style="width: 18rem;">
								{% if col.img %}
								<img class="card-img-top" style="width: 290px; height: 290px; object-fit: cover;"
									src="{{ item.img.url }}" alt="Card image cap">
								{% else %}
								<img class="card-img-top" src="{% static 'img/placeholder.png' %}" alt="Card image cap">
								{% endif %}
								<div class="card-header">
									<p class="card-text">{{ item.name }}</p>
								</div>
							</div>
							<br>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<!-- End Create section -->

		<!-- footer -->
		{% include 'shop/footer.html'%}
		<!-- end footer -->
		<!-- Javascript files-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
		<!-- sidebar -->
		<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
	</body>

</html>
